@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  color: #180eaa;
}

h1 {
  font-size: 3.2em;
  font-weight: 700;
  line-height: 1.1;
}

h2 {
  font-size: 2.4em;
  font-weight: 600;
  line-height: 1.1;
}

.shortened-text {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

button {
  font-size: 1em;
  font-weight: 400;
  font-family: inherit;

  cursor: pointer;
  transition: font-weight 0.25s;
}
button:hover {
  font-weight: 500;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
